jupyterlab>=4.3.0
polars>=1.13.1
pyarrow>=18.0.0 
matplotlib>=3.9.2
numpy~=2.0.0
scikit-learn~=1.5.0
keras>=3.6.0
jax>=0.4.35
jaxlib>=0.4.35
tensorflow-cpu>=2.18.0
tqdm>=4.67.0
ipywidgets>=8.1.5
imbalanced-learn>=0.12.4
beautifulsoup4>=4.12.3
requests>=2.32.3
levenshtein>=0.26.1
